.logIn{
    float: right;
    border: 1px;
    border-radius: 1pc;
}
.logInButton{
    float: right;
    background-color: green;
}
#signUpForm{
    background-color: blue;
    opacity: 0.8;
    padding: 10px;
    width: 300px;
    margin: 2px;
    clear: right;
    float: left;
}
#errorMessage{
    color: red;
    font-size: 12px;
}
#successMessage{
    color: white;
    font-size: 12px;
}

#logInUl{
    position: relative;
    float: right;
}
#navBar{
    margin: 0%;
    padding: 8px;
}